Requirement already satisfied: flask in c:\users\cosmin\desktop\todo-app\venv\lib\site-packages (3.1.0)
Requirement already satisfied: flask_sqlalchemy in c:\users\cosmin\desktop\todo-app\venv\lib\site-packages (3.1.1)
